.App {
  text-align: center;
  background-color: #78cdd7;
}
button {
  max-width: max-content;
  margin: auto 1px;
  padding: 10px auto;
  border-radius: 25px;
}
button:hover {
  background-color: darkorchid;
  color: white;
}

@media screen and (max-width: 600px) {
  .App {
    min-width: 300px;
  }
}
