.App {
  text-align: center;
}
.home-area {
  height: 100vh;
}

.forms {
  border: 10px solid green;
  padding: 10px 10px;
  margin: 10px auto;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nav {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
}
button {
  max-width: max-content;
  margin: 10px auto;
}

.review-container {
  border: 5px 5px;
  margin: 15px auto;
  max-width: 25%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.individual-location {
  margin: 10px 10px;
  max-width: auto;
  border: 5px solid red;
}
.all-locations {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
