@keyframes form-color {
  0% {
    border-top: 10px solid green;
    border-left: 30px solid yellow;
    border-bottom: 30px solid blue;
    border-right: 30px solid red;
  }
  25% {
    border-top: 30px solid yellow;
    border-left: 30px solid blue;
    border-bottom: 30px solid red;
    border-right: 10px solid green;
  }
  50% {
    border-top: 30px solid blue;
    border-left: 30px solid red;
    border-bottom: 10px solid green;
    border-right: 30px solid yellow;
  }
  75% {
    border-top: 30px solid red;
    border-left: 10px solid green;
    border-bottom: 30px solid yellow;
    border-right: 30px solid blue;
  }
  100% {
    border-top: 10px solid green;
    border-left: 30px solid yellow;
    border-bottom: 30px solid blue;
    border-right: 30px solid red;
  }
}
.forms {
  border-top: 10px solid green;
  border-left: 30px solid yellow;
  border-bottom: 30px solid blue;
  border-right: 30px solid red;
  padding: 10px 10px;
  margin: 10px auto;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation-name: form-color;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.submit-button {
  padding: 5px;
  margin: 5px auto;
}
input {
  margin: 5px 5px;
}
.rank-input {
  margin: 5px auto;
}
@media screen and (max-width: 600px) {
  .forms {
    padding: 10px 10px;
    margin: 10px auto;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
