.nav {
  position: relative;
  background-color: #b8b7af;
  display: flex;
  flex-direction: row;
}
.header-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.header-individual-button {
  min-width: 100px;
  padding: 15px 15px;
}

@media screen and (max-width: 600px) {
  .header-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }
  .header-individual-button {
    max-width: max-content;
    padding: 3px 3px;
  }
}
